.App {
  min-height: 100vh;
  background: #2BC0E4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #EAECC6, #2BC0E4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #EAECC6, #2BC0E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button {
  background: #2BC0E4;
  border: none;
  padding: 10px 20px;
  color: white;
}

.movies {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}